/* CSS Document */

* {
	padding:0px;
	margin:0px;
	border:0px;
}

.boxA {
	width:500px;
	height:150px;
	border:2px solid #ccc;
	padding:10px;
	margin:20px auto;
}

.color {
	color:blue;
	background-color:#990;
}

.button {
	font-size:12px;
	padding:3px;
	border:2px solid #666;
}